.userprofile-head {
    width: 100%;
    height: 80px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #d0d7deb3;
}

.userinfo {
    bottom: 10px;
    display: flex;
}

.userinfo-avator {
    width: 40px;
    margin: 0 15px;
}

.userinfo-avator img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin: 10px 0;
}

.userinfo-basic {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.userinfo-basic .text-field span:first-child {
    font-size: 25px;
}

.userinfo-basic .text-field span:nth-child(2), span:nth-child(3) {
    font-size: 12px;
    color: darkgray;
    box-sizing: border-box;
    padding-left: 10px;
    font-weight: lighter;
}

.userinfo-basic input {
    border-radius: 5px;
    border: 1px solid #d0d7deb3;
    font-weight: lighter;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
}

.userinfo-basic input:focus {
    outline: none;
}

.userprofile-head .opt-field a:first-child {
    border: 1px solid #d0d7deb3;
}

.userprofile-head .opt-field a:nth-child(2) {
    margin-left: 5px;
}

.warningbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    margin: auto;
}

.warningbox a{
    text-decoration: none;
    color: white;
}

.navigate-bar {
    border-radius: 1px solid #d0d7deb3;
    height: 30px;
}

.navigate-bar a {
    text-decoration: none;
    padding: 0 10px;
    color: #676a6eb3;
    font-size: 12px;
}
